.project {
	color: white;
	width: 85%;
	border-radius: 16px;
	margin: 5vh auto;
	padding: 1vh 1vw;
	border: 8px solid var(--background-color-lighter);
	position: relative;
}

ul {
	list-style: none;
	line-height: 1em;
	padding-inline-start: 2vw;
}

.container {
	display: inline-block;
	vertical-align: middle;
	width: 70%;
}

#projIcon {
	height: min(15vh, 20vw);
	width: min(15vh, 20vw);
	border-radius: 10%;
	vertical-align: middle;
	padding-left: 0;
}

#projTitle {
	color: var(--primary-color);
	font-weight: bold;
	font-size: min(2vh, 15px);
}

#projDesc {
	font-size: min(1.5vh, 12px);
}

#projMade {
	font-size: 1vh;
}

a {
	text-decoration: none;
	color: inherit;
}

@media (min-width: 240mm) {
	.project {
		width: 60%;
	}
	
	#projMade {
		font-size: 2vh;
	}

	#projTitle {
		font-size: 3vh;
	}
	
}
