.project {
	color: white;
	width: 85%;
	/*height: 15vh;*/
	border-radius: 16px;
	margin: 5vh auto;
	padding: 1vh 1vw;
	background-color: var(--background-color);
	display: grid;
	grid-column-gap: 2vw;
	grid-row-gap: 0;
	border: 8px solid var(--background-color-lighter)
}

#projIcon {
	grid-row-start: 1;
	grid-row-end: 4;
	align-self: center;
	height: 15vh;
	width: 15vh;
	/*background-color: yellowgreen;*/
}

#projTitle {
	color: var(--primary-color);
	font-weight: bold;
	font-size: min(2vh, 15px);
	/*background-color: slateblue;*/
}


#projDescr {
	/*background-color: teal;*/
	font-size: min(1.5vh, 12px);
	grid-row-start: 2;
	grid-row-end: 4;
}

#projMade {
	font-size: 1vh;
	/*background-color: tomato;*/
	grid-column-start: 2;
	grid-row-start: 4;
}

a {
	text-decoration: none;
	color: inherit;
}

@media (min-width: 240mm) {
	.project {
		width: 50%;
	}
	
	#projMade {
		font-size: 2vh;
	}

	#projTitle {
		font-size: 3vh;
	}
	
}
