.SocialButton {
    background-color: var(--background-color-lighter);
    width: 6vh;
    height: 6vh;
    border-radius: 8px;
    margin: 1vw;
}

.SocialButton > a > img {
    padding: 1vh;
}

@media (min-width: 240mm) {
    .SocialButton {
      width: 8vh;
      height: 8vh;
      border-radius: 16px;
      margin: 1vw;
    }
  }